
.solved-puzzle-options {
    @apply border border-theme-border bg-theme-surface p-4;
}

.landscape .solved-puzzle-options {
    font-size: min(3.2vw, 3.2vh);
}

.portrait .solved-puzzle-options {
    font-size: max(2.4vw, 2.6vh);
}

.solved-puzzle-options > * + *{
    margin: 0.65em 0 0 0;
}

.solved-puzzle-options p {
    @apply text-center text-xs uppercase tracking-widest;
    margin: 0;
}

.solved-puzzle-options button,
.solved-puzzle-options a.btn {
    @apply block box-border w-48 text-center text-xs uppercase tracking-widest border border-theme-border bg-theme-inverseBg text-theme-inverseText hover:bg-transparent hover:text-theme-text;
    text-decoration: none;
    font-family: inherit;
    padding: 0.4em 0;
}
