@tailwind components;

@layer components {
    .timer-block {
        @apply flex items-center gap-2 px-3 py-1 border border-theme-border bg-theme-surface text-theme-text;
    }

    .timer-elapsed {
        @apply text-xs uppercase tracking-widest;
    }

    .timer-hints {
        @apply inline-flex items-center justify-center min-w-[1.5rem] h-5 px-1 text-sm font-bold border border-theme-border bg-theme-surfaceHeader;
    }
}
